
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Report</h1>

<div>
    <table class="table text-center">
        <tr class="card-header">
            <th>Average Bleed Severity</th>
        </tr>
        @if(Model != null)
        {
            <tr>
                <td id='sev_avg'>@Model.Average</td>
            </tr>
        }
    </table>
</div>

<script>
    let average = document.querySelector('#sev_avg').textContent;
    let tableRow = document.querySelector("td");

    if (average <= 4) {
       tableRow.style["color"] = "green";
    } else if (average > 4 && average <= 7) {
        tableRow.style["color"] = "orange";
    } else {
       tableRow.style["color"] = "red";
    }
</script>
