
@{
    ViewData["Title"] = "LogBleed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.setTimeout(function () {
        window.location = "/Home";
    }, 4000);
</script>

<h1>Log Bleed</h1>

<p>Your bleed has been successfully logged.</p>
<p>If you are not redirected to the main page shortly, please click <a href="/Home">here</a>.</p>


