@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Right now, everything is basically private, because this web app is designed to run only on a local host.</p>
<p>Please do not attempt to host this web application on a dedicated server.</p>
<p>There are basically no security considerations at this point, and there is only a single, universal ledger.</p>
<p>Thank you for looking into TOBIAS Nosebleed Tracker Alpha.</p>

